#mainContainer{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
	background-image:url(../img/chihiro-spirtied-away-zl-3097360226.png);
	background-attachment: fixed;
	background-position: center;
}
#main{
	display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.315);
    text-decoration: bold;
    border: thin solid rgba(0, 0, 0, 0);
}
body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    background-size: cover;
}

#mainIndex{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}

#banner{
    display: flex;
    width: 100%;
    height: 325px;
    background-image: url(../img/bannerCA.jpg);
    background-size: cover;
}

#footerBanner{
    display: flex;
    width: 100%;
    height: 150px;
    
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

.footerElement{
    flex-basis: 20%;
    color: rgb(0, 0, 0);
    text-decoration:none;
    display:block;
    text-align: center;
    margin: 5px;
    position: relative;
}



p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*DESDE AQUI SON COSAS MIAS QUE LUEGO SE TENDRAN QUE AÑADIR*/

iframe{
    display:block; 
    margin:0 auto;
}

table, th, td {
    border: 1px solid rgb(43, 42, 42);
	background-color: rgba(222, 217, 217, 0.542);
	margin: 0 auto;
}    

#menu a {
	color: rgba(0,0,0);
	text-decoration: none;
}

#menuBanner {
	list-style: none;
}

#menu {
	background-color: #9EE4FF;
	color: #BEBEBE;
	display: block;
	height: 50px;
	margin: 20px auto;
	width: 100%;
}



#menu li {
	float: left;
	height: 100%;
	width: 33.3333%;
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


#menu li > a {
	display: block;
	height: 100%;
	line-height: 50px;
	text-align: center;
	transition: background-position 0.2s ease 0s;
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


#menu li > div > a {
	transition: background-position 0.1s ease 0s;
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


#menu li > div > a:hover {
	color: #FFF;
	background-position: 100% 0;
}

#menu li.active a:active,
#menu > div:not(.active):hover > a:active {
	background: #000000;
	color: #FFF;
}

#menu li,
#menu li > a {
	transition: background-color 0.2s ease;
}

#menu li {
	position: relative;
}

#menu li > a {
	text-transform: uppercase;
}

#menu li > div {
	background: #78A2B3;
	display: none;
	min-width: 200%;
	overflow: hidden;
	position: absolute;
	padding: 10px;
	z-index: 999;
}

#menu li:not(:first-of-type):not(:last-of-type) > div {
	left: -50%;
	border-radius: 0 0 3px 3px;
}

#menu li:first-of-type > div {
	left: 0;
	border-radius: 0 0 3px 0;
}

#menu li:last-of-type > div {
	right: 0;
	border-radius: 0 0 0 3px;
}

#menu li:hover > div {
	display: block;
}

#menu li:hover,
#menu li:hover > div {
	background: #9EE4FF;
}

	#menu li > div > a {
		background: #9EE4FF linear-gradient(to left, #a03333 50%, #78A2B3 50%) repeat scroll 0 0 / 200% 100%;
		border-radius: 2px;
		display: block;
		float: left;
		margin: 2%;
		padding: 8px 10px;
		text-align: center;
		transition: background-position 0.2s ease;
		width: 46%;
	}

#menu li > div > a:hover {
	background-position: 100% 0;
	cursor: pointer;
}